/* Alapbeállítások */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Alex Brush', cursive;
  background-color: #f2e4e4;
  overflow: hidden;
}

#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff0fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: white;
}

#start-button {
  font-size: 4rem;
  padding: 1rem 2rem;
  background-color: #c7e6d3;
  color: #c5a253 ;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Alex Brush', cursive;
  box-shadow: 0 0 15px rgb(248, 235, 160);
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f2e4e4;
  z-index: 0;
}

#intro-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  background-color: #f2e4e4;
}
@keyframes fadeIn {
  from {
    opacity: 0;
      }
  to {
    opacity: 1;
  }
}
#save-the-date {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  font-size: 3rem;
  color: #c5a253;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  z-index: 1000;
  background-color: none;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
} 

#save-the-date h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.next-button {
  position: absolute ;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #c5a353c8;
  border: 2px solid #c49f4a;
  border-radius: 5px;
  font-size: 34px;
  font-family: 'Alex Brush', cursive;
  color: black;
  cursor: pointer;
  z-index: 2;
}

.next-button:hover {
  background-color: #ddb347;
} 

  @media only screen and (max-width: 768px) {
    #video-container {
      width: 100vw;
      height: 100vh;
    }
  
    #intro-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
  @media screen and (orientation: landscape) and (max-width: 1024px) {
    #video-container,
    #intro-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  
    #start-screen {
      flex-direction: column;
      padding: 2rem;
    }
  
    .start-button {
      font-size: 2rem;
      padding: 1rem 2rem;
    }
  
    #icons {
      font-size: 2rem;
      gap: 2rem;
    }
  }

